   html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body { 
    font-family: Montserrat, Arial, sans-serif;  
    box-sizing: border-box;
    overflow-x: hidden;  
}
.wrap__site{
    top: 0px; 
    min-width: 375px;
    max-width: 1900px;
    display: block;   
    position: relative;
}

/* section one */
.new-collection{
    min-width: 375px;
    max-width: 1900px;
    height: 900px;
    top:0;
    position: relative;
}
.black-rectangle{

    width: 461px; 
    height: 900px;
    top: 0;  
    background: #000; 
    display: inline-block;
}


/*burder*/ 
.header__menu { 

    top: 0px;
    position: absolute;
    display: flex;  
    right:  0; 
    width: 94px; 
    height: 94px; 
    background: #f2f2f2; 
    cursor: pointer; 
} 

.header__burger{ 
    align-self: center; 
    margin: auto; 
} 

.header__burger-line{ 
    justify-content:center; 
    display: block; 
    width: 35px; 
    height: 3px; 
    background: #000; 
} 

.header__burger-line:first-of-type { 

    margin-bottom: 5px; 
} 

/*header logo*/


.wrap__header__logo{

    position: relative;
    top: -865px;
    /* top: 37px; */
    width: 388px;
    height: 35px;
    left: 55px;
    display: flex;
}
.header__logo{

    font-style: normal; 
    font-weight: 500; 
    font-size: 30px; 
    line-height: 37px; 
    color: #fff; 
    
}

.wrap__header__lang-switchers{

    position: relative;
    height: 25px;
    width: 60px;
    top: 4px;
    left: 248px;
    display : flex;
    
}

.header__lang-switchers{ 
    
    width: 31px; 
    height: 25px; 
    color: #FFF; 
    
    text-decoration: none; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 20px; 
    line-height: normal; 
    margin-right: 3px;
} 


.link__img__lang-switchers{
   
    text-decoration: none; 
    cursor: pointer;
    align-self: center;
    top:5px;
}

.social-network{ 

    position: relative;
    top: -121px;
    width: 161px;
    height: 46px;
    left: 46px;
    display: flex;
    justify-content: space-between;

} 
.social-network__bt{ 

    cursor: pointer; 
    display: inline-block; 
    background: #fff; 
    width: 43px; 
    height: 43px; 
    border-radius: 50%; 
    margin-left: 7px; 

}

/*content*/
.new-collection__wrap{

    position: relative;
    bottom: 816px;
    max-width: 1095px;
    min-width: 500px;
    height: 562px;
    left: 187px;
    display: flex;
    /* align-items: stretch; */
    
    
}

.new-сollection__img-pk{

    max-width: 100%;
    min-width: 80%;
    max-height: 100%;
    min-height: 70%;
    margin-right: 61px;  
    
}

.new-сollection__img-mobile, .img__mobile-scroll{
    display: none;
}

.wrap__content{

    position: relative;
    top: 102px;
    max-width: 500px;
    min-width: 10%;
    max-height: 388px;
    min-height: 10%;
    word-wrap: break-word;

  
}
.content-title{
    
    box-sizing: border-box;
    margin-bottom: 18px; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 80px; 
    line-height: 82px; 
    
    color: #000; 
}

.content__desc-new-сollection{ 

    position: relative;
    max-width: 467px;
    min-width: 2.5em;
    height: 127px;
    word-wrap: break-word;

    font-style: normal;
    font-weight: normal;
    font-size: 15.3px;
    line-height: 21.8px;
    margin-bottom: 37px;
} 
.content__desc-link{
    text-decoration: none;
    color: #000; 
}
    
.wrap{
    /* display: flex;
    align-items: center; */
}
.content__bt{ 
    
    width: 203px; 
    height: 44px; 
    top: 150px;
    cursor: pointer; 
    border: 1.5px solid #000000; 
    box-sizing: border-box;
    margin-right: 48px; 
    
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 0px; 
    background: #FFF; 
} 
.content__link{ 

    width: 203px; 
    height: 44px; 
    left: 257px;

    box-sizing: border-box; 
    cursor: pointer; 
    text-decoration: none; 
   
    margin-right: 17px;
    font-style: normal; 
    font-weight: 500; 
    font-size: 13px; 
    line-height: 0px; 
    color: #000; 
} 

.content-arrow{ 
    
    left: 448px;
    top: 351px;
    cursor: pointer; 

} 

/*scroll*/
.scroll{

    position: relative;
    bottom: 731px;
    width: 30px;
    height: 48px;
    left: 708px;
    
}


@media (max-width: 480px)   { 

    .social-network, .new-сollection__img-pk, .img__scroll,
    .wrap__header__lang-switchers, .content__desc-new-сollection,
    .content__bt, .content__link, .content-arrow,  .black-rectangle {
        display: none;
    }
  
    .wrap__site{
        overflow-x: hidden; 
    }

   .wrap__header__logo{

        position: relative;
        top: 0px;
        height: 94px;
        max-width: 480px;
        left: 55px;
        display: flex;
        align-items: center;
   }

   .header__logo{

        font-weight: 500; 
        font-size: 30px; 
        color: #000; 
    } 
    
    /* .new-collection__wrap{
        position: relative;
        max-width: 480px;

    } */

    .new-сollection__img{
        /* max-width: 480px; */
        /* position: absolute;
        top:50px; */
        /* position: relative; */
       
        max-width: 100%;
        max-height: 600px;
        display: flex;
        justify-content: center;
        z-index: -1; 
        background: url(../img/qwe_mob.png) ;
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        background-size:cover;
    }
    /* .new-сollection__img-mobile{
       
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        max-width: 100%;
        max-height: 100%;
    } */

    .content-title{

        color: #000;
    }

    .img__mobile-scroll{
        position: relative;
        top: 20px;
    } 
}


/* section two */
.product{
    /* background-color: #FAE8E4; */
}