   html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body { 

    font-family: Montserrat, Arial, sans-serif;  
    box-sizing: border-box;
    overflow-x: hidden;  
}
.wrap__site{

    top: 0px; 
    min-width: 375px;
    max-width: 1900px;
    display: block;   
    position: relative;
}

/* section one */
.new-collection{

    min-width: 375px;
    max-width: 1900px;
    height: 900px;
    top:0;
    position: relative;
}


.black-rectangle{

    width: 461px; 
    height: 900px;
    top: 0;  
    background: #000; 
    display: inline-block;
}


/*burder*/ 
.header__menu { 

    top: 0px;
    position: absolute;
    display: flex;  
    right:  0; 
    width: 94px; 
    height: 94px; 
    background: #f2f2f2; 
    cursor: pointer; 
} 


.header__burger{ 

    align-self: center; 
    margin: auto; 
} 


.header__burger-line{

    justify-content:center; 
    display: block; 
    width: 35px; 
    height: 3px; 
    background: #000; 
} 


.header__burger-line:first-of-type { 

    margin-bottom: 5px; 
} 

/*header logo*/

.wrap__header__logo{

    position: relative;
    top: -865px;
    width: 388px;
    height: 35px;
    left: 55px;
    display: flex;
}


.header__logo{

    font-style: normal; 
    font-weight: 500; 
    font-size: 30px; 
    line-height: 37px; 
    color: #fff;   
}


.wrap__header__lang-switchers{

    position: relative;
    height: 25px;
    width: 60px;
    top: 4px;
    left: 248px;
    display : flex;   
}


.header__lang-switchers{ 
    
    width: 31px; 
    height: 25px; 
    color: #FFF; 

    text-decoration: none; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 20px; 
    line-height: normal; 
    margin-right: 3px;
} 


.link__img__lang-switchers{
   
    text-decoration: none; 
    cursor: pointer;
    align-self: center;
    top:5px;
}


.social-network{ 

    position: relative;
    top: -121px;
    width: 161px;
    height: 46px;
    left: 46px;
    display: flex;
    justify-content: space-between;
} 


.social-network__bt{ 

    cursor: pointer; 
    display: inline-block; 
    background: #fff; 
    width: 43px; 
    height: 43px; 
    border-radius: 50%; 
    margin-left: 7px; 
}


/*content*/
.new-collection__wrap{

    position: relative;
    bottom: 816px;
    max-width: 1095px;
    min-width: 500px;
    height: 562px;
    left: 187px;
    display: flex;
}


.new-сollection__img-pk{

    max-width: 100%;
    min-width: 80%;
    max-height: 100%;
    min-height: 70%;
    margin-right: 61px;    
}


.new-сollection__img-mobile, .img__mobile-scroll{

    display: none;
}


.wrap__content{

    position: relative;
    top: 102px;
    max-width: 515px;
    min-width: 10%;
    max-height: 388px;
    min-height: 10%; 
}


.content-title{
    
    box-sizing: border-box;
    margin-bottom: 18px; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 80px; 
    line-height: 82px; 
    
    color: #000; 
}


.content__desc-new-сollection{ 

    position: relative;
    max-width: 467px;
    min-width: 2.5em;
    height: 127px;
    word-wrap: break-word;

    font-style: normal;
    font-weight: normal;
    font-size: 15.3px;
    line-height: 21.8px;
    margin-bottom: 37px;
} 

.content__desc-link{

    text-decoration: none;
    color: #000; 
}
    

.content__bt{ 
    
    width: 203px; 
    height: 44px; 
    top: 150px;
    cursor: pointer; 
    border: 1.5px solid #000000; 
    box-sizing: border-box;
    margin-right: 48px; 
    
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 0px; 
    background: #FFF; 
} 
.content__link{ 

    width: 203px; 
    height: 44px; 
    left: 257px;

    box-sizing: border-box; 
    cursor: pointer; 
    text-decoration: none; 
   
    margin-right: 17px;
    font-style: normal; 
    font-weight: 500; 
    font-size: 13px; 
    line-height: 0px; 
    color: #000; 
} 

.content-arrow{ 
    
    left: 448px;
    top: 351px;
    cursor: pointer; 
} 

/*scroll*/

.img__scroll{

    background: url(../img/scroll2.png) ;
    width: 30px;
    height: 48px;
    position: relative;
    bottom: 731px;
    left: 708px; 
    background-repeat: no-repeat;
}

/* ipad горизонт */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
    .wrap__site{
        overflow-x: hidden; 
    }

    .wrap__header__logo {
        
        top: -737px;
    }

    .wrap__header__lang-switchers {
        
        left: 119px;
    }

    .black-rectangle{

        width: 329px; 
        height:  768px;
    }

    .new-collection__wrap{

        left: 169px;
        bottom: 641px;
        width: 1024px;
        height: 450px;    
    }

    .new-сollection__img{
        
        margin-right: -134px;
    }

    .new-сollection__img-pk{

        max-width: 75%;
        min-width: 30%;
        max-height: 75%;
        min-height: 30%; 
    }

    .wrap__content {

        top: 0;
        max-width: 480px;
        max-height: 476px;
        left: 96px;
    }

    .content-title{
    
        margin-bottom: 18px; 
        font-size: 40px; 
        line-height: 42px; 
    }
    .content__desc-new-сollection {

        margin-bottom: 60px;
    }

    .content__bt{ 
        margin-bottom: 32px;
        margin-right: 23px;
    } 
    
    .img__scroll {
    
        bottom: 617px;
        left: 572px;
    }
}

/* ipad pro горизонт */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {

    .new-collection {
        
        max-width: 1366px;
        height: 1024px;
        top: 0;
    }

    .wrap__header__logo {
        top: -970px;
    }

    .black-rectangle{

        width: 451px; 
        height:  1024px;
    }
    .header__menu { 

        right:  0; 
        width: 94px; 
        height: 94px;  
    } 
    .new-collection__wrap {
    
        bottom: 902px;
    }

}


@media (max-width: 480px)   { 

    .social-network, .new-сollection__img-pk, .img__scroll,
    .wrap__header__lang-switchers, .content__desc-new-сollection,
    .content__bt, .content__link, .content-arrow,  .black-rectangle {
        display: none;
    }
  

    .header__menu { 

        right:  0; 
        width: 70px; 
        height: 70px;  
    } 


    .new-collection{

        height: 823px;
        right: 0;
    }

    .new-collection__header{
        width: 414px;
    }


    .wrap__site{
        overflow-x: hidden; 
    }


   .wrap__header__logo{

        position: relative;
        top: 0px;
        height: 70px;
        max-width: 480px;
        left: 23px;
        display: flex;
        align-items: center;
   }

   .header__logo{

        font-weight: 500; 
        font-size: 30px; 
        color: #000; 
    } 
    

    .new-collection__wrap{

       
        bottom: 0px;
        max-width: 414px;
        height: 694px;
        left: 0px;   
    }
    .new-сollection__img{

        z-index: -1; 
        background: url(../img/qwe_mob.png) ;
        width: 750px;  
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    .wrap__content{
       
        /* z-index: 1; */
        width: 60px;
        height: 60px;
        top: 509px;
        right: 422px;  
    }

    .content-title{
        color: #000;
        font-size: 40px;
        font-size: 50px;
        line-height: 50px;
    }

  
    .new-сollection__scroll{

        background: url(../img/Vector.png);
        width: 33px;
        height: 19px;
        bottom: 54px;
        margin: auto;
        position: relative;
        background-repeat: no-repeat;
    }
    
}

@media (min-width: 320px) and (max-width: 479px){ 

    .new-collection{

        right: 0;
        height: 765px;
    }

    .new-collection__header{
        width: 414px;
    }
    .wrap__site{
        overflow-x: hidden; 
    }
}





/* section two */
.product{
    /* background-color: #FAE8E4; */
}


