   html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body { 

    font-family: Montserrat, Arial, sans-serif;  
    font-style: normal;
    box-sizing: border-box;
    overflow-x: hidden;  
}
.wrap__site{

    top: 0px; 
    min-width: 20%;
    max-width: 1900px; 
    width:100%;
    margin:  auto;
    position: relative;
}

/* section one */
.new-collection{

    max-width: 1900px;
    height: 900px;
    position: relative;
    z-index: 1;
}


.black-rectangle{

    background-color: #000;
    position: relative;
    z-index: 2;
    height: 900px;
    width: 461px;
}


.wrap__header__logo{

    height: 31px;
    max-width: 387px;
    min-width: 20%;
    position: relative;
    bottom: 863px;
    left: 53px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}


.wrap__header__lang-switchers{

    right: 3px;
    top: 5px;
    position: relative;
    
}

/*header logo*/
.header__lang-switchers{

    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}


.header__logo{

    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    position: relative;
}


/*burder*/ 
.header__menu { 

    top: 0px;
    position: absolute;
    display: flex;  
    right:  0; 
    width: 94px; 
    height: 94px; 
    background: #f2f2f2; 
    cursor: pointer; 
} 


.header__burger{ 

    align-self: center; 
    margin: auto; 
} 


.header__burger-line{

    justify-content:center; 
    display: block; 
    width: 35px; 
    height: 3px; 
    background: #000; 
} 


.header__burger-line:first-of-type { 

    margin-bottom: 5px; 
} 



/*section new-сollection__content*/


.new-collection__wrap{

    display: flex;

}
.new-сollection__img-pk{

    position: relative;
    z-index: 5;
    left: 186px;
    bottom: 805px;
    /* max-width: 100%;
    min-width: 30%;
    max-height: 100%;
    min-height: 30%; */
}


.wrap__content{

    position: relative;
    z-index: 5;
    left: 240px;
    bottom: 704px;
    max-width: 468px;
    min-height: 30%;
}


.content-title{

    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 82px;
    margin-bottom: 17px;
   
}


.content__desc-new-сollection__wrap{

    position: relative;
    max-width: 450px;
    min-width: 30%;
    overflow-wrap: break-word;
    height: 126px;
    margin-bottom: 20px;
}


.content__desc-new-сollection{

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px; 
    color: #000;
}


.content__desc-link{

    text-decoration: none;
    color: #000;
}


.content__bt{

    position: relative;
    z-index: 5;
    right: 5px;
    height: 42px;
    width: 204px;
    font-weight: 500;
    font-size: 13px;
    top: 19px;
    line-height: 0px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.wrap__content__link{

    height: 14px;
    width: 359px;
    position: relative;
    z-index: 5;
    bottom: 9px;
    display: flex;
    left: 190px;
    justify-content: center;
    align-items: center;
}



.content__link{

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0px;
    text-decoration: none;
    margin-right: 19px;
    color: #000;
}


.social-network{

    position: relative;
    z-index: 6;
    width: 153px;
    height: 43px;
    left: 52px;
    bottom: 115px;
    display: flex;
    justify-content: space-between;
}

/*scroll*/

.img__scroll{

    background: url(../img/scroll2.png) ;
    width: 30px;
    height: 48px;
    position: relative;
    bottom: 721px;
    left: 708px; 
    background-repeat: no-repeat;
}


/* ipad pro */
@media only screen and (max-width: 1366px) and (min-width:1025px){

    .wrap__site{
        overflow-x: hidden; 
    }


    .new-collection{

        max-width: 1366px;
        min-width:1023px;
        height: 1024px;
        position: relative;
        z-index: 1;
    }

    .black-rectangle{

        height: 1024px;
        max-width: 409px;
        min-width: 200px;
    } 


    .wrap__header__logo{

        max-width: 322px;
        min-width: 20%;
        bottom: 988px;
    }
    
    .wrap__content{
        
        bottom: 818px;
        width: 100%; 
        max-width: 468px;
        min-width: 20%;
        height: 295px;
        left: 194px;
    }
   
    
    .new-сollection__img-pk{

        left: 123px;
        bottom: 894px;
        /* max-width: 90%;
        min-width: 30%;
        max-height: 90%;
        min-height: 30%; */
    }
    
}



/* ipad*/
@media only screen and (max-width: 1024px) and (min-width: 1010px){

    .wrap__site{

        overflow-x: hidden; 
    }


    .wrap__header__logo{

        max-width: 236px;
        min-width: 30%;
        bottom: 740px;
    }


    .new-collection{

        max-width: 1024px;
        min-width: 480px;
        height: 768px;
        position: relative;
        z-index: 1;
    }


    .black-rectangle{

        height: 768px;
        max-width: 302px;
        min-width: 150px;
    } 


    .content-title{

        font-size: 75px;
    }


    .wrap__content{
        
        left: 129px;
        bottom: 691px;
        max-width: 468px;
        min-width: 30%;
        height: 295px;
    }
   
    
    .new-сollection__img-pk{

        left: 82px;
        bottom: 754px;
        /* max-width: 85%;
        min-width: 30%;
        max-height: 85%;
        min-height: 30%; */
        
    }


    .wrap__content__link{

        left: 163px;
    }

    .img__scroll{

        bottom: 567px;
        left: 539px;
    }

    /* .content-arrow{
        display: none;
    } */

}


@media only screen and (max-width: 1265px) and (min-width: 551px){


    .new-сollection__img-pk{

        left: 109px;
        /* max-width: 75%;
        min-width: 55%;
        max-height: 75%;
        min-height: 55%; */
        margin-bottom: 14px;
        
    }

    .new-collection__wrap{

        display: flex;
        flex-direction: column;
    }

    .wrap__content {

        left: 109px;
        bottom: 639px;
    }

    .img__scroll{

        display: none;
    }

    
}


/*телефоны*/
@media (max-width: 550px)   { 

    .social-network, .new-сollection__img-pk, .img__scroll,
    .wrap__header__lang-switchers, .content__desc-new-сollection,
    .content__bt, .content__link, .content-arrow,  .black-rectangle {
        display: none;
    }
  
    .wrap__site{
        overflow-x: hidden; 
    }

    .header__menu { 

        right:  0; 
        width: 70px; 
        height: 70px;  
    } 


    .new-collection{

        height: 823px;
        right: 0;
    }

    .new-collection__header{
        width: 414px;
    }


   .wrap__header__logo{

        position: relative;
        top: 0px;
        height: 70px;
        max-width: 480px;
        left: 23px;
        display: flex;
        align-items: center;
   }

   .header__logo{

        font-weight: 500; 
        font-size: 30px; 
        color: #000; 
    } 
    

    .new-collection__wrap{

       
        bottom: 0px;
        max-width: 414px;
        height: 694px;
        left: 0px;   
    }

    .new-collection__wrap {
        display: block;
    }

    .new-сollection__img{

        z-index: -1; 
        background: url(../img/qwe_mob.png) ;
        height: 666px;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .wrap__content{
       
        width: 297px;
        height: 99px;
        bottom: 187px;
        left: 37px;
    
    }

    .content-title{
        color: #000;
        font-size: 50px;
        line-height: 50px;
    }

  
    .new-сollection__scroll{

        background: url(../img/Vector.png);
        width: 33px;
        height: 19px;
        bottom: 87px;
        margin: auto;
        position: relative;
        background-repeat: no-repeat;
        z-index: 4;
    }
    
}



